
<div class="panel panel-primary main_container" style=" height:100vh;">

    <div class="panel-heading">
      <h2>Quota List</h2>
    </div>
    <div class="panel-body">
      <button mat-raised-button color="accent" (click)="openCreateEventModal()">Create</button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Year</th>
            <th>Quota</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let quota of quotas | async">
            <td>{{quota.year}}</td>
            <td>{{quota.quota}}</td>
            <td><button (click)="deleteQuota(quota.id)" class="btn btn-danger">Delete</button>
              <button mat-raised-button color="accent" (click)="openUpdateEventModal(quota.id)">Update</button>
              <button (click)="showUsernames(quota.id)">Show Usernames</button>            
            </td>
            <div *ngIf="quota.id === selectedQuotaId">
              <p>Usernames:</p>
              <ul>
                <li *ngFor="let username of quotaUsernames">{{ username }}</li>
              </ul>
            </div>
          </tr>
        </tbody>
      </table>
    </div>
  </div>