<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          Demandes de congés
        </div>
        <div class="card-body">
          <ul class="leave-request-list">
            <li *ngFor="let request of pagedPendingLeaveRequests" class="leave-request">
              <div class="leave-request-details">
                <div class="leave-request-details-container">
                  <div class="leave-request-info">
                    <p class="user">{{ request.requesterUsername }}</p>
                    <p class="date-range">{{ request.from | date }} - {{ request.to | date }}</p>
                    <p>{{ request.approverUsername }} - {{ request.leaveTypeName }} - {{ request.duration }} jours</p>
                  </div>
                  <div class="leave-request-actions">
                    <!-- Icône de validation -->
                    <mat-icon class="icon validate" (click)="validateLeaveRequest(request.id)" data-tooltip="VALIDER">check</mat-icon>
                    <mat-icon class="icon reject" (click)="rejectLeaveRequest(request.id)" data-tooltip="REJETER">cancel</mat-icon>
                    <mat-icon class="icon cancel" (click)="cancelLeaveRequest(request.id)" data-tooltip="ANNULER">delete</mat-icon>
                    
                  </div>
                </div>
              </div>
            </li>
          </ul>
          
          <!-- MatPaginator -->
          <mat-paginator
            [length]="totalItems" 
            [pageSize]="itemsPerPage"
            [pageSizeOptions]="[2, 3, 4]"
            (page)="onPageChange($event)"
          ></mat-paginator>
        </div>
      </div>
    </div>
    
    <div class="col-9">
      <div class="card">
        <div class="card-header">
          Absences du jour
        </div>
        <div class="card-body">
          <!-- Liste des absences du jour ici -->
        </div>
      </div>
    </div>
  </div>
</div>
