
<div class="panel panel-primary main_container" style=" height:100vh;">

    <div class="panel-heading">
      <h2>Departement List</h2>
    </div>
    <div class="panel-body">
      <button mat-raised-button color="accent" (click)="openCreateEventModal()">Create</button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
           
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let departement of departements | async">
            <td>{{departement.name}}</td>
          
            <td><button (click)="deleteDepartement(departement.id)" class="btn btn-danger">Delete</button>
              <button mat-raised-button color="accent" (click)="openUpdateEventModal(departement.id)">Update</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>