<h2>Liste des Utilisateurs</h2>
<button mat-raised-button color="accent" (click)="openCreateEventModal()">Create</button>

<table class="table">
  <thead>
    <tr>
      <th>Utilisateur</th>
      <th>Site</th>
      <th>Action</th> <!-- Ajout de la colonne Action -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.username }} - {{ user.teamName }}</td>
      <td>{{ user.siteName }}</td>
      <td>
        <!-- Ajout du bouton Modifier avec l'appel à une fonction d'édition -->
        <!-- <button mat-raised-button color="primary" (click)="openEditUserModal(user.id)">Modifier</button> -->
        <button mat-raised-button color="primary" (click)="openUpdateUserPage(user.id)">Modifier</button>
        <button mat-raised-button color="primary" (click)="openDetailsUserPage(user.id)">Details</button>

      </td>
    </tr>
  </tbody>
</table>
