<!-- <form [formGroup]="quotaForm" (ngSubmit)="createQuota()">
    <label for="year">Year</label>
    <input type="number" id="year" formControlName="year" required>
  
    <label for="quota">Quota</label>
    <input type="number" id="quota" formControlName="quota" required>
  
    <label for="users">Users</label>
    <select id="users" formControlName="users" multiple required>
      <option *ngFor="let user of usersList" [value]="user.id">{{ user.username }}</option>
    </select>
  
    <button type="submit">Create</button>
  </form>
   -->
   <!-- Your HTML template for the create quota form -->


<!-- <form [formGroup]="quotaForm">
  <div class="form-group">
    <label for="year">Year</label>
    <input type="number" id="year" formControlName="year" class="form-control" />
  </div>
  <div class="form-group">
    <label for="quota">Quota</label>
    <input type="number" id="quota" formControlName="quota" class="form-control" />
  </div>
  <div class="form-group">
    <label for="users">Select Users</label>
    <select id="users" class="form-control" multiple (change)="onUserSelect($any($event.target).value)">
      <option *ngFor="let user of usersList" [value]="user.id">{{ user.username }}</option>
    </select>
  </div>
  <button type="button" class="btn btn-primary" (click)="createQuota()">Create Quota</button>
</form> -->



<!-- 
<form [formGroup]="quotaForm">
  <label for="year">Year:</label>
  <input type="number" id="year" formControlName="year" required />

  <label for="quota">Quota:</label>
  <input type="number" id="quota" formControlName="quota" required />

  <div>
    <label>Select Users:</label>

    <div *ngFor="let user of usersList">
      <input
        type="checkbox"
        id="user{{ user.id }}"
        [value]="user.id"
        formControlName="selectedUsers"
      />
      <label for="user{{ user.id }}">{{ user.username }}</label>
    </div>
  </div>

  <button type="button" (click)="createQuota()">Create Quota</button>
</form> -->


<!-- <form [formGroup]="quotaForm">
  <div class="form-group">
    <label for="name">Nom:</label>
    <input type="text" id="name" formControlName="name">
  </div>
  
  <div class="form-group">
    <label for="pays">Pays:</label>
    <input type="text" id="pays" formControlName="pays">
  </div>
  <div class="form-group">
    <label for="quota">Quota:</label>
    <input type="text" id="quota" formControlName="quota">
  </div>



  <button type="button" (click)="createQuota()">Create Quota</button>
</form> -->
<h3>Create LeaveType</h3>
<button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="quota.name" name="name">
    </div>

    <div class="form-group">
      <label for="quota">quota</label>
      <input type="text" class="form-control" id="quota" required [(ngModel)]="quota.quota" name="quota">
    </div>

    <div class="form-group">
      <label for="pays">pays</label>
      <input type="text" class="form-control" id="pays" required [(ngModel)]="quota.pays" name="pays">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>