<h3>Update LeaveType</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="leavetype.name" name="name">
    </div>

    <div class="form-group">
      <label for="approbation">approbation</label>
      <input type="text" class="form-control" id="approbation" required [(ngModel)]="leavetype.approbation" name="approbation">
    </div>

    <div class="form-group">
      <label for="soustraction">soustraction</label>
      <input type="text" class="form-control" id="soustraction" required [(ngModel)]="leavetype.soustraction" name="soustraction">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>