<h3>Update LeaveType</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="leaveType.name" name="name">
    </div>

    <div class="form-group">
      <label for="Approbation">Approbation</label>
      <input type="text" class="form-control" id="Approbation" required [(ngModel)]="leaveType.approbation" name="Approbation">
    </div>

    <div class="form-group">
      <label for="soustraction">soustraction</label>
      <input type="text" class="form-control" id="soustraction" required [(ngModel)]="leaveType.soustraction" name="soustraction">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>