<div class="sidebar_menu" [@onSideNavChange]="sidebarState" *ngIf="showAdminBoard" >
  <mat-nav-list class="menu-list">
    <mat-divider></mat-divider>

    <a mat-list-item routerLinkActive="active-list-item" routerLink="login" title="Login">
      <mat-icon class="icon" [@iconAnimation]="sidebarState"></mat-icon>
      <span class="label fw-bold" [@labelAnimation]="sidebarState">Organisation</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="dashboard" title="Dashboard" (click) = "gotoDepartement()">
      <mat-icon class="icon" [@iconAnimation]="sidebarState"></mat-icon>
      <span class="label" [@labelAnimation]="sidebarState" >Departement</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="work" title="Work" (click) = "gotoTeam()">
      <mat-icon class="icon" [@iconAnimation]="sidebarState"></mat-icon>
      <span class="label" [@labelAnimation]="sidebarState" >Equipe</span>
    </a>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="feedback" title="Feedback"  (click) = "gotoSite()">
      <mat-icon class="icon" [@iconAnimation]="sidebarState"></mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Site</span>
    </a>
  
  <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="login" title="Login">
      <mat-icon class="icon" [@iconAnimation]="sidebarState"></mat-icon>
      <span class="label fw-bold" [@labelAnimation]="sidebarState">Parametre du Calendrier</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-list-item routerLinkActive="active-list-item" routerLink="login" title="Login" (click) = "gotoLeaveType()">
      <mat-icon class="icon" [@iconAnimation]="sidebarState"></mat-icon>
      <span class="label" [@labelAnimation]="sidebarState">Types de Congés</span>
    </a>
</mat-nav-list>
</div>

<div class="sidebar_menu" [@onSideNavChange]="sidebarState" *ngIf="showUserBoard">
  <!-- Votre menu utilisateur ici -->
  <div class="leave-requests">
    <h5>Quotas</h5>
    <a>
      <li *ngFor="let quota of userQuotas" class="leave-request">
        <div class="leave-request-details" >
          <div class="leave-request-details d-flex justify-content-between">
          <p class="leave-type">{{ quota.year }}</p>
          </div>
          <p class="date-range">{{ quota.residuel}} / {{ quota.quota }}</p>
        </div>
      </li>
    </a>
  </div>
  <div class="leave-requests">
    <h5>Demandes en attente</h5>
    <a>
      <li *ngFor="let request of leaveRequests" class="leave-request" (click)="openLeaveRequestDetails(request.id)">
        <div class="leave-request-details" >
          <div class="leave-request-details d-flex justify-content-between">
          <p class="leave-type">{{ request.leaveTypeName }}</p>
          <p class="duration">{{ request.duration }} jours</p>
          </div>
          <p class="date-range">{{ request.from | date }} - {{ request.to | date }}</p>
        </div>
      </li>
    </a>
  </div>
  

</div>
